<section class="about-us">

  <header class="page-header">
    <h1>Who we are</h1>
  </header>

  <p> 
    Jungle is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking.
  </p>

  <h2>Building the future</h2>

  <p>
    We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. Amazonians are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.
  </p>

</section>